
:root{
    --black: rgb(23, 23, 23);
    --black-2: rgb(17, 18, 18);
    --yellow: rgb(248, 183, 32);
    --silver: rgb(166, 166, 166);
    --gray: rgb(204, 204, 204);
    --gray-2: rgb(245, 241, 235);
    --gray-x: rgb(186, 186, 186);
    --light-green: rgba(26, 183, 157, 0.15);
    --gray-xy: rgb(230, 230, 230);
    --gray-3: rgb(128, 128, 128);
    --black-8: rgba(0, 0, 0, 0.8);
    --white-5: rgba(255, 255, 255, 0.5);
    --black-5: rgba(0, 0, 0, 0.5);
    --black-3: rgba(0, 0, 0, 0.3);
    --light-green-2: rgb(26, 183, 157);
    --white: rgb(255, 255, 255);
    
    --radius-pill: 500px;
    --radius-circle: 50%;
    --radius-3: 3px;
    --radius-5: 5px;
    --radius-10: 10px;
    
    --ff-league_spartan: 'League Spartan', sans-serif;
    --ff-poppins: 'Poppins', sans-serif; 

    --fs-1: 4.2rem;
    --fs-2: 3.2rem;
    --fs-3: 2.3rem;
    --fs-4: 1.8rem;
    --fs-5: 1.5rem;
    --fs-6: 1.4rem;
    --fs-7: 1.3rem;

    --fw-500: 500;
    --fw-600: 600;
}

.success-message{
	color: rgb(26, 183, 157);
}

.error-message{
	color: red;
}



